<!DOCTYPE html>
<html>
<head>
  <title>Macronutrient Tracking</title>
  <script>
    function loadDoc() {
      const searchQuery = document.getElementById("searchInput").value;
      const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
        document.getElementById("demo").innerHTML = this.responseText;
      }
    xhttp.open("GET", "http://127.0.0.1:5000/api/search?query=" + encodeURIComponent(searchQuery), true);
    xhttp.send();
    }
  </script>
  <style>
    button {
      margin-right: 10px;
    }

    .form-wrapper {
      display: flex;
      align-items: center;
    }

    .form-wrapper form {
      margin-right: 10px;
    }

    .nav-wrapper {
      margin-bottom: 10px;
    }

    .nav-button {
      margin-right: 10px;
    }
  </style>
</head>

<body>  
  <div class="nav-wrapper">
    <a href="{{ url_for('routes.register') }}" class="nav-button">Register</a>
    <a href="{{ url_for('routes.login') }}" class="nav-button">Login</a>
    <a href="{{ url_for('routes.tracking') }}" class="nav-button">Tracking</a>
    <a href="{{ url_for('routes.logout') }}" class="nav-button">Logout</a>
    <a href="{{ url_for('routes.dashboard') }}" class="nav-button">Dashboard</a>
  </div>
  
  <h1>Track your macros</h1>

  <div>
    Today is: {{ saved_values['date'] }}
  </div>

  <div>
    Fat: {{ saved_values['fat'] }} / {{ user['fat_goal'] }}
  </div>

  <div>
    Carbs: {{ saved_values['carbs'] }} / {{ user['carbs_goal'] }}
  </div>

  <div>
    Protein: {{ saved_values['protein'] }} / {{ user['protein_goal'] }}
  </div>

  <div class="form-wrapper">
      <form method="POST" action="{{ url_for('routes.submitfat') }}">
        {{ fatform.csrf_token }}
        Fat {{ fatform.number }}
        {{ fatform.submit }}
      </form>

      <form action="/submit-carbs" method="post">
        {{ carbform.csrf_token }}
        Carbs {{ carbform.number }}
        {{ carbform.submit }}
      </form>
      
      <form action="/submit-protein" method="post">
        {{ proteinform.csrf_token }}
        Protein {{ proteinform.number }}
        {{ proteinform.submit }}
      </form>  
  </div>
  <div>
    <h2>Search for Food</h2>
    <input type="text" id="searchInput" placeholder="Enter a food name">
    <button type="button" onclick="loadDoc()">Search</button>
  </div>
  <div id="demo">
  </div>
</body>
</html>