<!DOCTYPE html>
<html>
<head>
  <title>Macro Bars</title>
  <style>
    .progress-bar {
      width: 300px;
      height: 20px;
      background-color: #f1f1f1;
      margin-bottom: 10px;
    }

    .progress-bar-fill {
      height: 100%;
      background-color: #4CAF50;
    }

    button {
      margin-right: 10px;
    }

    .form-wrapper {
      display: flex;
      align-items: center;
    }

    .form-wrapper form {
      margin-right: 10px;
    }

    .nav-wrapper {
      margin-bottom: 10px;
    }

    .nav-button {
      margin-right: 10px;
    }
  </style>
</head>

<body>  
  <div class="nav-wrapper">
    <a href="{{ url_for('routes.register') }}" class="nav-button">Register</a>
    <a href="{{ url_for('routes.login') }}" class="nav-button">Login</a>
    <a href="{{ url_for('routes.tracking') }}" class="nav-button">Tracking</a>
    <a href="{{ url_for('routes.logout') }}" class="nav-button">Logout</a>
    <a href="{{ url_for('routes.dashboard') }}" class="nav-button">Dashboard</a>
  </div>
  
  <h1>Track them macros</h1>

  <div>
    Today is: {{ saved_values['date'] }}
  </div>

  <div class="progress-bar">
    <div id="progress1" class="progress-bar-fill">Fat: {{ saved_values['fat'] }}</div>
  </div>

  <div class="progress-bar">
    <div id="progress2" class="progress-bar-fill">Carbs: {{ saved_values['carbs'] }}</div>
  </div>

  <div class="progress-bar">
    <div id="progress3" class="progress-bar-fill">Protein: {{ saved_values['protein'] }}</div>
  </div>

  <div class="form-wrapper">
      <form method="POST" action="{{ url_for('routes.submitfat') }}">
        {{ fatform.csrf_token }}
        Fat {{ fatform.number }}
        {{ fatform.submit }}
      </form>

      <form action="/submit-carbs" method="post">
        {{ carbform.csrf_token }}
        Carbs {{ carbform.number }}
        {{ carbform.submit }}
      </form>
      
      <form action="/submit-protein" method="post">
        {{ proteinform.csrf_token }}
        Protein {{ proteinform.number }}
        {{ proteinform.submit }}
      </form>  
  </div>
  <div>
    Current fat goal: {{ user['fat_goal'] }}        
    Current carb goal: {{ user['carbs_goal'] }}
    Current protein goal: {{ user['protein_goal'] }}
  </div>
</body>
</html>